
nav{
  position:absolute;
  width:100%;
  background-color:transparent;
  padding-top:8px;
}

.nav-links a{
    color:white;
}


.cover {
  padding-top:8vh;
  width:100%;
  height:60vh;
  background-image: url('../img/HiwCover.png');
  background-size:cover;
}

.introduction {
  padding-top:10vh;
  text-align:center;
  color:white;
}

.introduction h1{
    font-size:24px;
}

.subheading p{
  font-size:20px;
  width:100%;
  padding-top:5vh;
  text-align:center;
  color:white;
}


.blue-slider {
      background-color: #3cc6fa;
      text-align: center;
    color: white;
    height:auto;
    padding-bottom:70px;
    padding-top:70px;
}

.blue-slider-text {
  font-size: 16px;
}

.blue-slider-text h5{
  font-size: 20px;
}

.blue-slider-subtext {
  padding-top: 5px;
  font-weight: 300;
}



.cta-select {

  font-weight: bold;
  font-size: 16px;
  background-color: #3cc6fa;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
}

.howitworks {
  font-weight: 300;
  font-size: 16px;
  width:100%;
  text-align:center;
  color:black;
  padding-top:20px;
}

.post-slider .post-wrapper .post .post-info .cta .cta-select2 {
    width: 100%;
}

.apply{
  width:100%;
  padding-top:5vh;
  text-align:center;
}

.cta-select {
  font-weight: 300;
  font-size: 16px;
  background-color: #3cc6fa;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
}

.white-btn{
  background-color: white;
  margin-top:20px;
  margin-bottom:20px;
  border: none;
  color: #3cc6fa;
}
.icon_img{
    margin:auto;
    display:block;
}


.description_icons {
  width: 80%;
  margin: auto;
  padding: 30px;
  height: 40vh;
}


.videoheaderFD h4{
    padding:15px;
    text-align:center;
}

.videoheaderFD h1{
    padding:15px;
    text-align:center;
}

.hiw-headerFD h1 {
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
}

.hiw-subheaderFD {
  font-size: 16px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 25px;
}

.explainers{
    width:80%;
    margin:auto;
/*
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    */
}
.explainer-section{
    padding-bottom:20px;
    padding-top:30px;
    width:60%;
    margin:auto;
    padding-bottom: 30px;
}

.explainer-number{
    color: white;
    margin-left:20px;
    display: inline-block;
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 8px;
    background-color: #3CC6FA;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 14px;
}

.explainer-title{
    font-weight:bold;
    padding-left: 10px;
    display: inline-block;
}

.explainer-image{
    width:100%;
    margin:auto;
    padding-top:  23px;
    padding-bottom:10px;
}

.explainer-description{
    text-align:left
}

.explainer-subtext {
  font-size: 14px;
  width: 95%;
  line-height: 1.7;
  font-weight: 500;
  padding-left:20px;
}

.description_icons {
width: 80%;
margin: auto;
height: auto;
margin-left: auto;
margin-right: auto;
display: block;
}

.description{
    padding-top:20px;
    text-align:center;
}

.description h6{
    color:black;
}

.description p{
    color:gray;
    font-size: 0.8rem;
}

.chamber-div
{
    text-align:center;
    padding-top:20px;
}

.chamber-text{
    padding:10px;
}

.chamber-btn-div{
    padding:10px;
}

.chamber-contact-div{
    padding:10px;
}


footer {
  line-height: 2;
}

hr {
  width: 100%;
}

.banner-text b {
  padding-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .explainers-pc{
        display:block;
    }

    .explainers{
        display:none;
    }


    .explainers-pc .explainer-section{
        display:flex;
        flex-direction:row;
        align-content:center;
        width:80%;
        margin:auto;
        text-align:center;
    }

    .explainers-pc .explainer-content{
        width:50%;
        text-align:left;
        display: flex;
        height: auto;
        flex-direction: column;
        align-self: center;
    }

    .explainers-pc .explainer-photo{
        width:50%;
        /*background-color:#eaeaea;*/
        position:relative;
    }


    .explainers-pc .explainer-image{
        width:50%;
        padding-top:0px;
        padding-bottom:0px;
        text-align:center;
        vertical-align: middle;

        position:absolute;
        margin:auto;
        top:0;
        bottom:0;
        left:0;
        right:0;
    }


    .explainer-subtext{
        padding-top:20px;
        width:80%;
    }

    .explainer-section{
        height:360px;
        position:relative;
    }

}

@media screen and (max-width: 768px) {

    .explainers-pc{
        display:none;
    }

    .explainers{
        display:block;
    }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-7px, 5px);
    height: 3px;
    background-color: white;
  }

  .toggle .line2 {
    opacity: 0;
    background-color:white;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -4px);
    background-color:white;
    height: 3px;
  }


  .cover {
    width:100%;
    height:50vh;
    background-size: cover;
    opacity:1;
  }

  .mobile-cover{
    display:block;
  }

  .introduction {
    width:100%;
    padding-top:10vh;
    text-align: center;
    color:white; /* White- only for mobile screen */
  }

  .subheading {
    width:80%;
    margin:auto;
    font-weight: 300;
    font-size: 14px;
    padding-top:3vh;
    /*max-width: 40ch;*/
    text-align: center;
    color:white; /* White- only for mobile screen */
  }

    .subheading p{
        padding-top:0px;
        font-size:16px;

    }

    .explainers{
        flex-direction:column;
        width:100%;
    }

   .explainer-section{
        width:100%;
    }

   .cta {
    width:100%;
    text-align:center;
    padding-bottom:5vh;
  }


  .cta-select{
    text-align:center;
  }

  .howitworks
   {
    width:100%;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    padding-bottom:20px;
    color:white; /* White- only for mobile screen */
  }

    .hiw-headerFD h1 {
        font-size: 18px;
        text-align: center;
    }

    .hiw-subheaderFD {
        font-size: 18px;
        text-align: center;
        padding-top: 0px;
    }


    .description{
        padding-top:20px;
        text-align:center;
    }

    .description h6{
        color:black;
    }

    .description p{
        color:gray;
        font-size: 0.8rem;
    }

    .chamber-div
    {
        text-align:center;
        padding-top:20px;
    }

    .chamber-text{
        padding:10px;
    }

    .chamber-btn-div{
        padding:10px;
    }

    .chamber-contact-div{
        padding:10px;
    }



  .cta {
    width:100%;
    text-align:center;
    padding-bottom:5vh;
  }

  .cta-select{
    text-align:center;
  }

  .cta-select2{
      width:100%;
      font-weight:bold;
  }

       .blue-slider-text {
    text-align: center;
    max-width:25ch;
    margin:auto;
    color: white;
    font-size: 16px;
  }


  .blue-slider {
    margin-top:20px;
    padding-top:6vh;
    padding-bottom:6vh;
    background-color: #3cc6fa;
    text-align: center;
    color: white;
    line-height: 1.7;
  }


  .blue-slider-subtext {
    padding-top: 5px;
    font-weight: 600;
 
  }






}