/*--------------------
Source: https://codepen.io/supah/pen/XdKMJK
--------------------*/
.search-form {
    position: relative;
    width: 80%;
    height: 40px;
    margin:auto;
    margin-top:27px;
    border-radius: 24px;
    border-color:rgba(223,225,229,0);
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    background: #fff;
    transition: all 0.3s ease;
}
.search-form.focus {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

.search-icon{
    height:100%;
    padding-top:3px;
    padding-bottom:2px;
    padding-left:5px;
}

.search-input {
    position: absolute;
    top: 10px;
    left: 38px;
    font-size: 14px;
    background: none;
    color: #5a6674;
    width: 80%;
    height: 20px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}
.search-input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

.search-button {
    position: absolute;
    top: 10px;
    left: 15px;
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none !important;
    cursor: pointer;
}
.search-button svg {
    width: 20px;
    height: 20px;
    fill: #5a6674;
}

.search-option {
    position: absolute;
    text-align: right;
    top: 10px;
    right: 15px;
}
.search-option div {
    position: relative;
    display: inline-block;
    margin: 0 1px;
    cursor: pointer;
}

.search-option img {
    height: 20px;
    width: 20px;
    fill: #5a6674;
    opacity: 0.6;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
}
.search-option img:hover {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .search-form{
        width:100%;
        margin:auto;
        height: 40px;
        margin-top:25px;
        margin-bottom: 10px;
        border-radius: 24px;
        background: #fff;
        transition: all 0.3s ease;
    }

    .search-form.focus {
        box-shadow: none;
        border: 1px solid rgba(0, 0, 0, 0.15);
    }

}
